<div id="errcon">
<% if obj.errors.any? %>
  <ul class="error-box">
    <h3>Oops!😒</h3>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
</div>

<script>
  setTimeout(() => {
      document.getElementById('errcon').style.display = 'none';
  }, 3000)
</script>