@import "bootstrap";

:root{
    --primary-color: #3131ad;
    --dark-color:#000;
    --gray-color:#808080;
    --light-color:#fff;
}


a{
    text-decoration: none;
}
li{
    list-style: none;
}

input,button{
    border: none;
    outline: none;
}

.app-con{
    padding: 2rem 0;
    width: 95%;
    max-width: 1920px !important;
    margin: 0 auto;
}

.apple_pagination {
    background: none;
    text-align: center;
    font-weight: 600;
    padding: 1em;
    cursor: default;
  }
  
  .apple_pagination a,
  .apple_pagination span {
    padding: 0.2em 0.3em;
  }
  
  .apple_pagination .disabled {
    color: #aaaaaa;
  }
  
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color:var(--primary-color);
    color: white;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
  }
  
  .apple_pagination a {
    text-decoration: none;
    color: black;
  }
  
  .apple_pagination a:hover,
  .apple_pagination a:focus {
    text-decoration: underline;
  }
