@import "bootstrap";

:root{
    --primary-color: #3131ad;
    --dark-color:#000;
    --gray-color:#808080;
    --light-color:#fff;
}


a{
    text-decoration: none;
}
li{
    list-style: none;
}

.app-con{
    padding: 2rem 0;
    width: 95%;
    max-width: 1920px !important;
    margin: 0 auto;
}
