
.posts_show{
    margin: auto !important;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.post-part h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--dark-color);
}

.post-part .show-img{
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.post-part .show-img img{
    width: 100%;
    height: 100%;
}

.info-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-color);
}

.info-part-left{
    display: flex;
    align-items: center;
    gap: .6rem;
}
.info-part-left-img {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 50%;
}

.info-part-left-img img{
    width: 100%;
    height: 100%;
}


.post-part.content {
    font-size: 1.15rem;
    color: var(--dark-color);
    opacity: .8;
}

@media screen and (max-width: 900px) {
    .posts_show{
        width: 100%;
    }
    
}