
.new-edit{
    width: 80%;
    margin: auto;
}
.new-edit h1{
    text-align: center;
}
.new-edit form{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.new-edit .form_box label{
    width: 100%;
    font-size: 1.1rem;
    color: var(--gray-color);
    font-weight: 500;
}

.new-edit .form_box input{
    width: 100%;
    padding: .7rem;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    border: 1px solid var(--gray-color);
}


.new-edit .content_box textarea{
    padding: 1rem;
    font-size: 1.1rem;
    width: 100%;
    min-height: 20rem;
    max-height: 20rem;
    border: 1px solid var(--gray-color);
    outline: none !important;
}
.new-edit .thumnail input{
    cursor: pointer;
}

.new-edit .button .publish_btn{
    border: none;
    outline: none;
    background: var(--primary-color);
    color: white;
}

@media screen and (max-width: 768px) {
    .new-edit{
        width: 100%;
    }
}