
.user_form{
    width: 60%;
    margin: auto;
    padding: 2rem 0;
  }

  .user_form .form_con{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .user_form .form_box label{
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--gray-color);
    margin-bottom: .3rem;
  }

  .user_form .form_box input{
    width: 100%;
    padding: .8rem;
    border: 1px solid var(--gray-color);
  }

  .user_form .sign_btn{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--light-color);
    background: var(--primary-color);
    padding: .8rem;
    cursor: pointer;
  }


  @media screen and (max-width: 768px){
    .user_form{
        width: 100%;
      }
  }